@font-face {
  font-family: Kdam;
   src: url("../assets/fonts/KdamThmorPro-Regular.ttf");
 }
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Kdam';
  font-size: 18px;
  background-color: rgb(235, 235, 235);
  color:rgb(65, 42, 0);
  line-height: 1.5;
}
.codeexample {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  font-weight: bold;
  color:rgb(65, 42, 0);
}
.container {
  width: 100%;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(76, 158, 76);
  color:white;
  list-style: none;
}
html {
  scroll-behavior: smooth; 
}
.nav-link {
  padding: 10px 20px;
  line-height: 50px;
  transition: .3s;
}
.contactslink {
  color:rgb(76, 151, 0);
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #1c0068;
}
@media (max-width: 768px) {
  .section{
    width: 100%;
  }
  .nav-list {
    flex-direction: column;
    justify-content: space-between;
  }
  .avatar {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 769px) {
  .avatar {
    width: 540px;
  }
}
.section {
  width: 50%;
  margin: 0 auto;
  padding-left: 2%;
}
* {
  box-sizing: border-box;
}
.section-title {
  letter-spacing: 3px;
}
.pictureright {
  float: right;
  padding-right: 2vh;
}